@page "/resize"
@inject ResizeObserverService ResizeService
@implements IAsyncDisposable

<PageTitle>Resize</PageTitle>

<h1>Resize</h1>

<button @onclick=RandomizeSizes>Randomize sizes</button>

<div @ref=div1 style=@($"width: {width1}px; height: {height1}px; background-color: darkorchid;")>
    <strong>
        Target div 1;<br />

        Current size from observer:<br />
        Width @readWidth1;
        Height @readHeight1;
    </strong>
</div>

<div @ref=div2 style=@($"width: {width2}px; height: {height2}px; background-color: khaki;")>
    <strong>
        Target div 2;
        <br />

        Current size from observer:<br />
        Width @readWidth2;
        Height @readHeight2;
    </strong>
</div>

@code {
    ElementReference? div1;
    double width1 = 400;
    double height1 = 200;

    double readWidth1 = 0;
    double readHeight1 = 0;

    ElementReference? div2;
    double width2 = 400;
    double height2 = 200;

    double readWidth2 = 0;
    double readHeight2 = 0;

    private ResizeTask? taskReference;

    private void RandomizeSizes()
    {
        width1 = Random.Shared.Next(200, 600);
        width2 = Random.Shared.Next(200, 600);
        height1 = Random.Shared.Next(100, 300);
        height2 = Random.Shared.Next(100, 300);

    }

    private void UpdateDisplayField(JsResizeObserverEntry[] entries)
    {
        foreach (var entry in entries)
        {
            if (!entry.TargetElement.HasValue) continue;

            if (entry.TargetElement.Value.Equals(div1))
            {
                readHeight1 = entry.ContentRect.Height;
                readWidth1 = entry.ContentRect.Width;
            }
            else if (entry.TargetElement.Value.Equals(div2))
            {
                readHeight2 = entry.ContentRect.Height;
                readWidth2 = entry.ContentRect.Width;
            }
        }
        StateHasChanged();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            taskReference = await ResizeService.RegisterObserver(
                UpdateDisplayField, 
                new ElementReference?[]{div1, div2}
                    .OfType<ElementReference>()
                    .ToArray());
    }

    public async ValueTask DisposeAsync()
    {
        if (taskReference is not null)
            await ResizeService.DeregisterObserver(taskReference);
    }
}
